 a{float:left; color: white;}
    /* Efecto hover */
    a:hover {
        background-color:cyan;
        color: black;
    }
    body{background-image: url("mundo.jpg"); background-repeat: no-repeat; background-repeat: no-repeat; background-size: cover;}
    h1{text-align:center; font-family:fantasy;}
    .tabla{background-color:white;border:solid 2px white;width:70%;margin-left:20%; margin-top:10%;}
    th{font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;border:solid 2px white; background-color:red ; width: 2000px;}
    img{width: 25%; height:10%;}