 h2{
            text-align: center;
            color:grey;
        }
        table{
            border:solid 1px black;
            background-color: grey;
            margin-left:15%;
        }
        th{
            
        text-align: center;
            border:2px black solid;
            
        }
        td{
            border: 1px solid black;
        }