body{
            background-image:url(https://th.bing.com/th/id/R.d9c2773b1c241854571d1bdad23af4a5?rik=Au1AINhvAWZmRg&riu=http%3a%2f%2f4.bp.blogspot.com%2f-QMGOoEe7ORo%2fUictQ1DRsJI%2fAAAAAAAB4ow%2fQ3F1jbR67fo%2fs1600%2fcerca-del-cielo-y-los-planetas-im%c3%a1genes-de-fantas%c3%ada-close-to-sky-landscape-1920x1200-wallpaper-.jpg&ehk=7N3VXXUF7ESxVu%2fJqYAG2lwflwMsjAwn7hdRxBGsJms%3d&risl=&pid=ImgRaw&r=0);
            background-repeat: no-repeat;
            background-size: cover;
        }

        h1{
            text-align: center;
            color:#f2f2f2;
        }
        table {
            width: 50%;
            border-collapse: collapse;
            margin:auto;
        }
        th, td {
            border: 1px solid black;
            padding: 10px;
            text-align: center;
        }
        th {
            background-color: #f2f2f2;
        }
        .Gestadmcomintr { background-color: #1b38dd; }
        .logisticaalm { background-color: orange; }
        .transpintmercanc   { background-color: #F08080; }
        .IP { background-color: #0f4712; }
        .CMOintrGAcomit { background-color: #428306; }
        .IPE { background-color: #e5baeb; }
        .tutoria { background-color: #FFD700; }
        .gestecaomyfinace{ background-color: #584a08; }
        .recreo { text-align: center; font-weight: bold; }